header {
  padding: 3rem 6%;
  background-image: linear-gradient(to right, rgb(27, 93, 216), rgb(17, 203, 209));
  background-size: 100% 100%;
  display: flex;
  align-items: center;
}
header .header-hero {
  flex: 1;
}
header .header-hero h1 {
  color: var(--white);
  font-size: 3rem;
}
header .header-hero .header-button {
  padding: 0.9rem 1.3rem !important;
  margin-right: 0.8rem;
  background-color: var(--bg-main) !important;
  text-decoration: none;
}
header .header-categories {
  margin-left: 2.5rem;
  flex-basis: 44%;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}
header .header-categories .category-card {
  height: 9rem;
  border-radius: 7px;
  overflow: hidden;
  background-color: rgb(221, 221, 221);
  position: relative;
}
header .header-categories .category-card img, header .header-categories .category-card .category-card-text {
  text-decoration: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header .header-categories .category-card .category-card-text {
  padding: 0.5rem;
  display: flex;
  align-items: flex-end;
  color: var(--white);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.096));
  z-index: 2;
}

/********************************************************************
    ******* FEATURE STYLE *******
********************************************************************/
.home-section {
  padding: 2rem 10%;
}

.section-title {
  margin-bottom: 1.5rem;
}
.section-title h1, .section-title h2 {
  margin: 0;
}
.section-title .sun-nav-link {
  padding: 0 0.6rem;
  text-decoration: none;
  color: inherit;
}
.section-title .chevron-icon {
  margin-left: 0.5rem;
}

/********************************************************************
    ******* FEATURE STYLE *******
********************************************************************/
.feature-container .section-body {
  display: grid;
  grid-column-gap: 0.6rem;
  grid-template-columns: repeat(3, 1fr);
}
.feature-container .feature-card {
  padding: 1.5rem;
  background-color: var(--gray);
}
.feature-container .icon {
  margin-right: 1rem;
  font-size: 2.6rem;
}

/********************************************************************
    ******* FEATUREED PRODUCTS STYLE *******
********************************************************************/
.top-saler-content {
  padding: 5rem 10%;
  background-color: var(--gray);
}
.top-saler-content .saler-card {
  padding: 0.7rem;
  background-color: var(--white);
  width: 97%;
}
.top-saler-content .saler-card span {
  margin: 0.5rem;
  padding: 0.3rem 0.5rem;
  background-color: var(--gray);
}
.top-saler-content .logo {
  width: 100%;
  height: 200px;
  margin-bottom: 0.8rem;
}
.top-saler-content .rec-arrow-left {
  left: -2rem;
}
.top-saler-content .rec-arrow-right {
  right: -2rem;
}

/******************************************************************
    ****** START OF CAROUSEL STYLE *****
******************************************************************/
.rec-carousel-wrapper {
  position: relative !important;
}

.rec-arrow {
  position: absolute;
  z-index: 20 !important;
  border: none !important;
  font-size: 2rem !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.rec-slider-container {
  margin: 0 !important;
}

.rec-pagination {
  display: none !important;
}

@media screen and (max-width: 950px) {
  header {
    padding: 0;
    background-image: none;
    display: block;
  }
  header .header-hero {
    padding: 3rem 1rem;
    background-image: linear-gradient(to right, rgb(27, 93, 216), rgb(17, 203, 209));
    background-size: 100% 100%;
  }
  header .header-hero h1 {
    font-size: 1.6rem;
  }
  header .header-hero .header-button {
    padding: 0.3rem 0.6rem !important;
    margin: 0.3rem;
  }
  header .header-categories {
    margin: 0;
    padding: 0.5rem;
  }
  header .header-categories .category-card {
    height: 5.5rem;
  }
  /********************************************************************
      ******* FEATURE STYLE *******
  ********************************************************************/
  .home-section {
    padding: 2rem 0.5rem;
  }
  .section-title {
    margin-bottom: 0.8rem;
  }
  .section-title h1 {
    margin: 0;
    font-size: 1.4rem;
  }
  /********************************************************************
      ******* FEATURE STYLE *******
  ********************************************************************/
  .feature-container .section-body {
    display: block;
  }
  .feature-container .feature-card {
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .feature-container .icon {
    margin-right: 0.6rem;
    font-size: 2.5rem;
  }
  /********************************************************************
      ******* FEATUREED PRODUCTS STYLE *******
  ********************************************************************/
  .top-saler-content {
    padding: 1rem 0.5rem;
    background-color: var(--white);
  }
  .top-saler-content .saler-card {
    padding: 0.5rem;
    background-color: var(--gray);
  }
  .top-saler-content .saler-card span {
    margin: 0.5rem;
    padding: 0.3rem 0.5rem;
    background-color: rgb(255, 255, 255);
  }
  .top-saler-content .logo {
    height: 120px;
  }
  .rec-arrow {
    display: none !important;
  }
  .item-slider-content .item-slider-card {
    margin: 0 0.3rem;
    background-color: rgb(245, 245, 245);
  }
  .item-slider-content .item-slider-card .image {
    height: 140px;
  }
}/*# sourceMappingURL=home.css.map */