

.header-container{
    width:100%;
    height: 32rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/images/pexels-negative-space-34577.jpg');
    background-size: 100% 100%;
    .hero{
        padding: 0 10%;
        width:70%;
        &__actions{
            margin-top:1.4rem;
            .search-bar{
                padding: .4rem;
                height: 3.5rem;
                flex:1;
                background-color: rgb(245, 245, 245);
                border-radius: 6px;
                input, button{
                    height: 100%;
                    outline: none;
                    background-color: transparent;
                    border:none;
                }
                input{
                    flex:1;
                }
                button{
                    padding:0 1rem;
                    border-radius: 6px;
                    background-color: var(--pink);
                    background-image: var(--gradient);
                }
            }
            .header-btn{
                margin-left: .6rem;
                padding:0 1rem;
                display:flex;
                align-items: center;
                justify-content: center;
                height: 3.5rem !important;
                border-radius: 6px;
                color:  var(--white);
                text-decoration: none;
                background-color:  var(--pink);
                background-image: var(--gradient);
            }
        }
    }
    h1{
        font-size: 4.4rem;
        color:var(--white);
    }
    
    
}

.home-section{
    padding:4rem 12%;
    &__heading{
        margin-bottom:1.5rem;
        padding:0 14%;
        h1{
            font-size:3.5rem;
        }
        p{
            font-size: 1.3rem;
        }
    }
}

.featur-wraper{

    &__content{
        display:grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }
    .featur-card{
        flex:1;
        .icon{
            font-size: 5rem;
        }
        .featur-card-text{
            flex:1;
            margin:0 1rem;
        }
    }
}


.service-wraper{
    .service-content{
        display:grid;
        grid-gap:1rem;
        grid-template-columns: repeat(4, 1fr);
    }
    .category-card{
        height:210px;
        position: relative;
        text-decoration: none;
        background-size: 100% 100%;
    }
    .category-card-text{
        padding: .5rem;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.8));
        display:flex;
        align-items: flex-end;
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 1.5rem;
        color: var(--white);
    }
}

.uploaded-items-wraper{
    background-color: var(--gray);
}

.app-content{
    .app-body{
        flex:1;
        &__section{
            margin-bottom: 1.5rem;
            padding:1rem;
            background-color: var(--gray);
        }
    }
    
    .ads__section{
        margin-bottom: 1.5rem;
        height: 250px;
        width:100%;
        background-color: var(--gray);
        background-image: url('../../../assets/images/online-shop-g7158bf409_1280.png');
        background-size: 100% 100%;
    }
} 

.special-items-sidebar{
    margin-right: 1.5rem;
    flex-basis: 25%;
    .sidebar-secion{
        margin-bottom: 1rem;
        background-color: var(--gray);
        &__header{
            padding: .5rem 1rem;
            background-color: var(--main);
        }
        
        &__content{
            padding: 1rem 1.5rem;
        }
        .item-box{
            margin-bottom: 1rem;
            background-color: var(--white);
            &__image{
                width:100%;
                height:160px;
            }
            &__text{
                padding: .5rem 1rem;
                flex:1;
            }
            .icon{
                margin-top: .2rem;
                margin-right: .5rem;
                font-size: 1rem;
                color: var(--main);
            }
        }
    }
    // &__content{
    //     .item-box{
    //         width:100%;
    //         margin-bottom: 1rem;
    //     }
    // }
}


@media screen and (max-width:750px){
    
    
    .header-container{
        padding: 3rem 1rem;
        height: auto;
        .hero{
            padding: 0;
            width:100%;
            text-align: center;
        }
        h1{
            font-size: 1.9rem;
        }
        &__actions{
            margin-top:1.4rem;
            .search-bar{
                padding: 0;
                border:1px solid red;
                height: 1rem !important;
                flex:1;
                background-color: rgb(245, 245, 245);
                border-radius: 6px;
                input, button{
                    height: 100%;
                    outline: none;
                    background-color: transparent;
                    border:none;
                }
                input{
                    flex:1;
                }
                button{
                    padding:0;
                    border-radius: 6px;
                    background-color: transparent;
                }
            }
        }
        
    }
    
    .home-section{
        padding:2rem 5%;
        &__heading{
            margin-bottom:1rem;
            padding:0;
            h1{
                font-size:1.8rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
    .featur-wraper{
        &__content{
            grid-gap: .5rem;
            grid-template-columns: repeat(2, 1fr);
        }
        .featur-card{
            flex-direction: column;
            .icon{
                font-size: 2.5rem;
            }
            .featur-card-text{
                margin:0;
            }
        }
    }
    
    
    .service-wraper{
        .service-content{
            grid-gap: .5rem;
            grid-template-columns: repeat(3, 1fr);
        }
        .category-card{
            height:110px;
        }
        .category-card-text{
            padding: .5rem;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.8));
            font-size: 1.1rem;
        }
    }
    

    .app-content{
        margin-top: 1rem;
        .app-body{
            &__section{
                margin-bottom: 1.5rem;
                padding:0;
                background-color: var(--white);
            }
        }
        
        .ads__section{
            margin-bottom: 1.5rem;
            height: 170px;
        }
    } 
    .special-items-sidebar{
        display:none;
    }
}