
.products-nav{
    padding:.5rem 5%;
    border-bottom: 1px solid #ccc;

    .search-bar-container, .dropdown-toggle.nav-link{
        background-color: var(--gray);
        height: 2.5rem !important;
    }
    .dropdown-toggle.nav-link{
        padding: 0 .6rem !important;
        display: flex;
        align-items: center;
    }
    .search-bar-container{
        width:30%;
    }
}
.products-container{
    margin-top: 1rem;
    padding:0 5%;
}

@media screen and (max-width:750px) {
    .products-nav{
        padding:.7rem;
        .search-bar-container, .dropdown-toggle.nav-link{
            height: 3rem !important;
        }
        .search-bar-container{
            margin-left: .5rem;
            width:max-content;
            flex:1;
        }
    }

    .products-container{
        margin-top: 1rem;
        padding:0 .5rem;
    }
    
    .items-wraper{
        grid-gap: .7rem;
        grid-template-columns: repeat(2, 1fr);
        .item-card{
            &__text{
                padding: .5rem;
            }
            h5{
                font-size: 1rem;
            }
        }
        .item-card__image{
            height: 150px;
        }
    }
    
    .items-wraper.col4{
        grid-template-columns: repeat(2, 1fr);
        .item-card__image{
            height: 150px;
        }
    }
}
