.header-container {
  padding: 0 4%;
  margin-top: 0.5rem;
}
.header-container .header-hero {
  padding: 0 5%;
  height: 22.5rem;
  flex: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../../assets/images/online-shop-g37a7449d9_1280.png");
  background-size: 100% 100%;
  color: var(--white);
}
.header-container .header-hero__content {
  width: 75%;
}
.header-container .header-hero__content h1 {
  font-size: 3rem;
  color: var(--white);
}
.header-container .header-hero__content button {
  border: none;
  outline: none;
}
.header-container__category {
  margin-left: 0.5rem;
  flex-basis: 42%;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}
.header-container__category .category-card {
  height: 11rem;
  border-radius: 6px;
  color: var(--white);
  background-color: var(--dark);
  background-size: cover;
  text-decoration: none;
}
.header-container__category .category-card span {
  padding: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.39);
}

.features-container {
  padding: 1rem;
  margin: 1.5rem 0;
  border-radius: 6px;
  background-color: var(--gray);
}
.features-container .features-card {
  margin: 0;
  padding: 0 1.5rem;
}
.features-container .features-card__text-wraper {
  margin-left: 1rem;
  flex: 1;
}
.features-container .features-card__icon {
  font-size: 5rem;
  color: var(--main);
}

.app-content .app-body {
  flex: 1;
}
.app-content .app-body__section {
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: var(--gray);
}
.app-content .ads__section {
  margin-bottom: 1.5rem;
  height: 250px;
  width: 100%;
  background-color: var(--gray);
  background-image: url("../../../assets/images/online-shop-g7158bf409_1280.png");
  background-size: 100% 100%;
}

.special-items-sidebar {
  margin-right: 1.5rem;
  flex-basis: 25%;
}
.special-items-sidebar .sidebar-secion {
  margin-bottom: 1rem;
  background-color: var(--gray);
}
.special-items-sidebar .sidebar-secion__header {
  padding: 0.5rem 1rem;
  background-color: var(--main);
}
.special-items-sidebar .sidebar-secion__content {
  padding: 1rem 1.5rem;
}
.special-items-sidebar .sidebar-secion .item-box {
  margin-bottom: 1rem;
  background-color: var(--white);
}
.special-items-sidebar .sidebar-secion .item-box__image {
  width: 100%;
  height: 160px;
}
.special-items-sidebar .sidebar-secion .item-box__text {
  padding: 0.5rem 1rem;
  flex: 1;
}
.special-items-sidebar .sidebar-secion .item-box .icon {
  margin-top: 0.2rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: var(--main);
}

@media screen and (max-width: 750px) {
  .header-container {
    padding: 0;
    margin: 0;
    flex-direction: column;
  }
  .header-container .header-hero {
    padding: 3rem 1rem;
    height: auto;
    min-height: auto;
    text-align: center;
  }
  .header-container .header-hero__content {
    width: 100%;
  }
  .header-container .header-hero__content h1 {
    font-size: 1.6rem;
  }
  .header-container .header-hero .btn {
    padding: 0.3rem 0.6rem !important;
    font-size: 1rem !important;
  }
  .header-container__category {
    margin: 0.5rem;
  }
  .header-container__category .category-card {
    height: 6rem;
  }
  .header-container__category .category-card span {
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
    background-color: rgba(0, 0, 0, 0.39);
  }
  .features-container {
    padding: 0.5rem;
    margin: 0;
    background-color: var(--gray);
    display: none !important;
  }
  .features-container .features-card {
    padding: 0 0.5rem;
    flex-direction: column;
  }
  .features-container .features-card__text-wraper {
    margin-left: 0.5rem;
  }
  .features-container .features-card__icon {
    font-size: 2rem;
    color: var(--main);
  }
  .app-content {
    margin-top: 1rem;
  }
  .app-content .app-body__section {
    margin-bottom: 1.5rem;
    padding: 0;
    background-color: var(--white);
  }
  .app-content .ads__section {
    margin-bottom: 1.5rem;
    height: 170px;
  }
  .special-items-sidebar {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */