
.header-container{
    padding: 0 4%;
    margin-top: .5rem;
    .header-hero{
        padding: 0 5%;
        height:22.5rem;
        flex:1;
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../../assets/images/online-shop-g37a7449d9_1280.png');
        // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../../assets/images/online-shopping-ge0b63afec_1280.png');
        background-size: 100% 100%;
        color: var(--white);
        &__content{
            width:75%;
            h1{
                font-size: 3rem;
                color: var(--white);
            }
            button{
                border:none;
                outline: none;
            }
        }
    }
    &__category{
        margin-left: .5rem;
        flex-basis: 42%;
        display: grid;
        grid-gap: .5rem;
        grid-template-columns: repeat(3, 1fr);
        .category-card{
            height: 11rem;
            border-radius: 6px;
            color: var(--white);
            background-color: var(--dark);
            background-size: cover;
            text-decoration: none;
            span{
                padding: .5rem;
                width: 100%;
                font-size: 1.2rem;
                background-color: rgba(0, 0, 0, 0.39);
            }
        }
    }
}


.features-container{
    padding: 1rem;
    margin: 1.5rem 0;
    border-radius: 6px;
    background-color: var(--gray);
    .features-card{
        margin: 0;
        padding: 0 1.5rem;
        &__text-wraper{
            margin-left:1rem;
            flex:1;
        }
        &__icon{
            font-size: 5rem;
            color:var(--main);
        }
    }
}


.app-content{
    .app-body{
        flex:1;
        &__section{
            margin-bottom: 1.5rem;
            padding:1rem;
            background-color: var(--gray);
        }
    }
    
    .ads__section{
        margin-bottom: 1.5rem;
        height: 250px;
        width:100%;
        background-color: var(--gray);
        background-image: url('../../../assets/images/online-shop-g7158bf409_1280.png');
        background-size: 100% 100%;
    }
} 

.special-items-sidebar{
    margin-right: 1.5rem;
    flex-basis: 25%;
    .sidebar-secion{
        margin-bottom: 1rem;
        background-color: var(--gray);
        &__header{
            padding: .5rem 1rem;
            background-color: var(--main);
        }
        
        &__content{
            padding: 1rem 1.5rem;
        }
        .item-box{
            margin-bottom: 1rem;
            background-color: var(--white);
            &__image{
                width:100%;
                height:160px;
            }
            &__text{
                padding: .5rem 1rem;
                flex:1;
            }
            .icon{
                margin-top: .2rem;
                margin-right: .5rem;
                font-size: 1rem;
                color: var(--main);
            }
        }
    }
    // &__content{
    //     .item-box{
    //         width:100%;
    //         margin-bottom: 1rem;
    //     }
    // }
}


@media screen and (max-width:750px){
    
    .header-container{
        padding: 0;
        margin: 0;
        flex-direction: column;
        .header-hero{
            padding: 3rem 1rem;
            height:auto;
            min-height:auto;
            text-align: center;
            &__content{
                width:100%;
                h1{
                    font-size: 1.6rem;
                }
            }
            .btn{
                padding: .3rem .6rem !important;
                font-size: 1rem !important;
            }
        }
        &__category{
            margin: .5rem;
            .category-card{
                height: 6rem;
                span{
                    padding: .3rem .5rem;
                    font-size: .9rem;
                    background-color: rgba(0, 0, 0, 0.39);
                }
            }
        }
    }
    

    .features-container{
        padding: .5rem;
        margin: 0;
        background-color: var(--gray);
        display: none !important;
        .features-card{
            padding: 0 .5rem;
            flex-direction: column;
            &__text-wraper{
                margin-left:.5rem;
            }
            &__icon{
                font-size: 2rem;
                color:var(--main);
            }
        }
    }

    .app-content{
        margin-top: 1rem;
        .app-body{
            &__section{
                margin-bottom: 1.5rem;
                padding:0;
                background-color: var(--white);
            }
        }
        
        .ads__section{
            margin-bottom: 1.5rem;
            height: 170px;
        }
    } 
    .special-items-sidebar{
        display:none;
    }
}