

/************************************************************
    *** START OF HEADER STYLE ***
************************************************************/
.header-container{
    width:100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/images/pexels-negative-space-34577.jpg');
    background-size: 100% 100%;
    
    .hero-container{
        padding:0 4%;
        margin-top:-2.5rem;
        width:65%;
        color:var(--white);
        h1{
            font-size:4rem;
            color:var(--white);
        }
    }
    .hero-inner-container{
        margin-top:2rem;
        width:100%;
    }
    .hero-search-bar{
        padding: .5rem;
        height:4rem;
        flex:1;
        border-radius: 6px;
        background-color: var(--white);
        input, button{
            height:100%;
            border:none;
            outline:none;
        }
        input{
            padding: 0 .8rem;
            flex:1;
        }
    }
    .button{
        padding:0 1rem;
        border:none;
        outline:none;
        border-radius: 6px;
        color: var(--white);
        background-color: var(--secondary);
    }
    .header-btn{
        margin-left: .5rem;
        height:4rem;
        display:flex;
        align-items:center;
        text-decoration:none;
    }
}


.home-section{
    padding: 4rem 8%;
    .home-section-heading{
        margin-bottom:1.5rem;
        padding:0 14%;
        h1{
            font-size:3.5rem;
        }
        p{
            font-size: 1.3rem;
        }
    }
}


/************************************************************
    *** START OF CATEGORIES STYLE ***
************************************************************/
.categories-container{
    .categories-content{
        display:grid;
        grid-gap:1rem;
        grid-template-columns: repeat(3, 1fr);
    }
    .category-card{
        height:240px;
        position: relative;
        text-decoration: none;
        background-size: 100% 100%;
    }
    .category-card-text{
        padding: .5rem;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.8));
        display:flex;
        align-items: flex-end;
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 1.5rem;
        color: var(--white);
    }
}


/************************************************************
    *** START OF PRODUCTS SECTION STYLE ***
************************************************************/
.products-container{
    background-color: var(--gray);
}


/************************************************************
    *** START OF FEAUTURES SECTION STYLE ***
************************************************************/
.featur-wraper{
    display:grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    .featur-card{
        padding: 1.5rem;
    }
    // .featur-card-text{

    // }
    .icon{
        margin-right: 1rem;
        font-size: 6rem;
    }
}



.benefite-wraper{
    padding:2rem;
    margin: -5rem 4% 0 4%;
    border-radius: 10px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-self: space-between;
    background-color: var(--primary);
    .icon{
        margin-right: 1rem;
        font-size: 8rem;
    }
    h4{
        color: var(--white);
    }
}

@media screen and (max-width:750px){
    
    /************************************************************
        *** START OF HEADER STYLE ***
    ************************************************************/
    .header-container{
        padding: 3.5rem 1rem;
        height: auto;
        background-size: 100% 100%;
        .hero-container{
            margin:0;
            padding:0;
            width:100%;
            h1{
                font-size:2rem;
            }
        }
        .hero-inner-container{
            margin-top:1.5rem;
        }
        .hero-search-bar{
            padding: .5rem;
            height:3rem;
            input{
                padding: 0 .5rem;
            }
        }
        .button{
            padding:0 .7rem;
        }
    }
    
    
    .home-section{
        padding: 3rem .5rem;
        .home-section-heading{
            margin-bottom:1rem;
            padding:0;
            h1{
                font-size:1.7rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
    
    
    /************************************************************
        *** START OF CATEGORIES STYLE ***
    ************************************************************/
    .categories-container{
        .categories-content{
            grid-gap:.6rem;
            grid-template-columns: repeat(3, 1fr);
        }
        .category-card{
            height:100px;
        }
        .category-card-text{
            padding: .5rem;
            font-size: .9rem;
        }
    }
    

    .benefite-wraper{
        display: none !important;
    }
    
    /************************************************************
        *** START OF PRODUCTS SECTION STYLE ***
    ************************************************************/
    .products-container{
        background-color: var(--gray);
    }
    
    /************************************************************
        *** START OF FEAUTURES SECTION STYLE ***
    ************************************************************/
    .featur-wraper{
        display:grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        .featur-card{
            padding:0 1rem;
        }
        .icon{
            font-size: 3.5rem;
        }
    }


}