.header-container {
  width: 100%;
  height: 32rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/images/shopping-bg.jpg");
  background-size: 100% 100%;
}
.header-container .hero {
  padding: 0 10%;
  width: 70%;
}
.header-container h1 {
  font-size: 4.4rem;
  color: var(--white);
}
.header-container .header-btn {
  margin-right: 0.6rem;
  color: var(--white);
  border: 2px solid var(--white);
  text-decoration: none;
  font-size: 1.3rem;
}
.header-container .btn-yellow {
  border: 2px solid var(--yellow);
  background-color: var(--yellow);
}

.home-section {
  padding: 4rem 12%;
}
.home-section__heading {
  margin-bottom: 1.5rem;
  padding: 0 14%;
}
.home-section__heading h1 {
  font-size: 3.5rem;
}
.home-section__heading p {
  font-size: 1.3rem;
}

.featur-wraper__content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.featur-wraper .featur-card {
  flex: 1;
}
.featur-wraper .featur-card .icon {
  font-size: 5rem;
}
.featur-wraper .featur-card .featur-card-text {
  flex: 1;
  margin: 0 1rem;
}

.service-wraper .service-content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
.service-wraper .category-card {
  height: 210px;
  position: relative;
  text-decoration: none;
  background-size: 100% 100%;
}
.service-wraper .category-card-text {
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.8));
  display: flex;
  align-items: flex-end;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1.5rem;
  color: var(--white);
}

.uploaded-items-wraper {
  background-color: var(--gray);
}

.app-content .app-body {
  flex: 1;
}
.app-content .app-body__section {
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: var(--gray);
}
.app-content .ads__section {
  margin-bottom: 1.5rem;
  height: 250px;
  width: 100%;
  background-color: var(--gray);
  background-image: url("../../../assets/images/online-shop-g7158bf409_1280.png");
  background-size: 100% 100%;
}

.special-items-sidebar {
  margin-right: 1.5rem;
  flex-basis: 25%;
}
.special-items-sidebar .sidebar-secion {
  margin-bottom: 1rem;
  background-color: var(--gray);
}
.special-items-sidebar .sidebar-secion__header {
  padding: 0.5rem 1rem;
  background-color: var(--main);
}
.special-items-sidebar .sidebar-secion__content {
  padding: 1rem 1.5rem;
}
.special-items-sidebar .sidebar-secion .item-box {
  margin-bottom: 1rem;
  background-color: var(--white);
}
.special-items-sidebar .sidebar-secion .item-box__image {
  width: 100%;
  height: 160px;
}
.special-items-sidebar .sidebar-secion .item-box__text {
  padding: 0.5rem 1rem;
  flex: 1;
}
.special-items-sidebar .sidebar-secion .item-box .icon {
  margin-top: 0.2rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: var(--main);
}

@media screen and (max-width: 750px) {
  .header-container {
    padding: 2rem;
    height: auto;
  }
  .header-container .hero {
    padding: 0 3%;
    width: 100%;
    text-align: center;
  }
  .header-container h1 {
    font-size: 1.9rem;
  }
  .header-container .header-btn {
    margin: 0 0.3rem;
    font-size: 1rem;
  }
  .header-container .header-btn-wraper {
    margin: 0 auto;
    justify-content: center;
  }
  .home-section {
    padding: 2rem 5%;
  }
  .home-section__heading {
    margin-bottom: 1rem;
    padding: 0;
  }
  .home-section__heading h1 {
    font-size: 1.8rem;
  }
  .home-section__heading p {
    font-size: 1rem;
  }
  .featur-wraper__content {
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .featur-wraper .featur-card {
    flex-direction: column;
  }
  .featur-wraper .featur-card .icon {
    font-size: 2.5rem;
  }
  .featur-wraper .featur-card .featur-card-text {
    margin: 0;
  }
  .service-wraper .service-content {
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .service-wraper .category-card {
    height: 140px;
  }
  .service-wraper .category-card-text {
    padding: 0.5rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.8));
    font-size: 1.1rem;
  }
  .app-content {
    margin-top: 1rem;
  }
  .app-content .app-body__section {
    margin-bottom: 1.5rem;
    padding: 0;
    background-color: var(--white);
  }
  .app-content .ads__section {
    margin-bottom: 1.5rem;
    height: 170px;
  }
  .special-items-sidebar {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */