.product-container {
  padding: 0.7rem 4%;
}

.special-items-wraper {
  margin-right: 1rem;
  flex-basis: 26%;
}
.special-items-wraper .special-items-content {
  padding: 1rem;
  margin-bottom: 1.5rem;
  height: 400px;
}

.product-content {
  flex: 1;
}
.product-content .product-detal-container {
  display: flex;
}
.product-content .product-detal-container .product-detal-image {
  flex-basis: 50%;
}
.product-content .product-detal-container .product-detal-text {
  padding: 1rem;
  flex: 1;
  position: relative;
}
.product-content .product-detal-container .back-btn {
  width: 40px;
  height: 40px;
  font-size: 1.7rem;
  color: var(--primary);
  background-color: var(--white);
  border: 2px solid var(--primary);
  position: absolute;
  top: -10px;
  right: -10px;
}
.product-content .product-detal-container .back-btn-sm {
  display: none;
}
.product-content .product-related-items {
  padding: 1rem 1rem 0 1rem;
  margin-top: 1.5rem;
}

.seconary-navbar {
  padding: 0.7rem 5%;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #eee;
}
.seconary-navbar .search-bar-container {
  width: 30%;
  border: 1px solid #ccc;
}
.seconary-navbar span {
  min-height: 3rem;
  border: 1px solid var(--gray);
}
.seconary-navbar .dropdown-toggle.nav-link, .seconary-navbar span {
  margin-right: 0.6rem;
  padding: 0.1rem 0.7rem;
  min-height: 2.7rem !important;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
}

.products-wraper {
  padding: 0 4%;
}
.products-wraper .products-content {
  flex: 1;
}
.products-wraper .products-sidebar {
  margin-right: 1rem;
  flex-basis: 25%;
  background-color: #ccc;
}

@media screen and (max-width: 750px) {
  .seconary-navbar {
    padding: 0.7rem 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #eee;
  }
  .seconary-navbar .search-bar-container {
    width: 100%;
  }
  .seconary-navbar .suncategories-container {
    overflow: hidden;
  }
  .seconary-navbar .dropdown-toggle.nav-link {
    min-height: 3rem !important;
  }
  .page-body {
    padding: 0 5%;
  }
  .product-container {
    padding: 0;
  }
  .product-content .product-detal-container {
    margin: 0.5rem;
    display: block !important;
    background-color: transparent;
  }
  .product-content .product-detal-container .product-detal-image {
    height: auto;
    min-height: auto;
    max-height: auto;
    width: 100%;
  }
  .product-content .product-detal-container .product-detal-text {
    padding: 1rem;
    width: 100%;
  }
  .product-content .product-detal-container .back-btn {
    padding: 0.4rem 0.6rem;
    width: auto;
    height: auto;
    font-size: 1.7rem;
    color: var(--white);
    background-color: var(--primary);
    border: none;
    position: unset;
  }
  .product-content .product-detal-container .back-btn-sm {
    padding: 0.3rem 0.6rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: flex;
    align-items: center;
    color: var(--primary);
    border: 1px solid var(--primary);
  }
  .product-content .product-related-items {
    padding: 0.7rem;
    margin-top: 0.5rem;
  }
}/*# sourceMappingURL=products.css.map */