
.product-container{
    padding:.7rem 4%;
}

.product-sidebar{
    margin-right: 1rem;
    flex-basis: 26%;
    background-color: var(--gray);
}

.product-content{
    flex:1;
    .product-detal-container{
        background-color: var(--gray);
        .product-detal-image{
            height:350px;
            min-height:350px;
            max-height:350px;
            flex-basis:55%;
        }
        .product-detal-text{
            padding:1rem;
            flex:1;
        }
    }
    .product-related-items{
        padding: 1rem 1.5rem;
        margin-top: 1.5rem;
        // background-color: var(--gray);
    }
}

.seconary-navbar{
    padding:.7rem 5%;
    margin-bottom:1.5rem;
    border-bottom: 2px solid #eee;
    .search-bar-container{
        width:30%;
        border:1px solid #ccc;
    }
    span{
        min-height:3rem;
        border:1px solid var(--gray);
    }
    .dropdown-toggle.nav-link, span{
        margin-right: .6rem;
        padding: .1rem .7rem;
        min-height:2.7rem !important;
        border-radius: 6px;
        display:flex;
        align-items: center;
        border:1px solid #ccc;
    }
}



.page-body{
    padding:0 4%
}

.items-wraper{
    display:grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    .item-card{
        background-color: var(--white);
        &__text{
            padding: .8rem;
        }
    }
    .item-card__image{
        height: 190px;
        min-height: 190px;
        max-height: 190px;
    }

    .img-placeholder{
        height: 190px;
        background-color: var(--white);
        .icon{
            font-size: 7rem;
            opacity: .3;
        }
    }
    .item-card-btn{
        width: 100%;
        color:var(--white);
        background-color: var(--primary) !important;
        border:none;
    }
}

.items-wraper.col4{
    grid-template-columns: repeat(4, 1fr);
    .item-card__image{
        height: 170px;
        min-height: 170px;
        max-height: 170px;
    }
}

@media screen and (max-width:750px){
    
    .seconary-navbar{
        padding:.7rem .5rem;
        margin-bottom:1.5rem;
        border-bottom: 2px solid #eee;
        .search-bar-container{
            width:100%;
        }
        .suncategories-container{
            overflow: hidden;
        }
        .dropdown-toggle.nav-link{
            min-height:3rem !important;
        }
    }
    
    .page-body{
        padding:0 5%
    }
    
    .items-wraper{
        grid-gap: .5rem;
        grid-template-columns: repeat(2, 1fr);
        .item-card{
            &__text{
                padding: .5rem;
            }
        }
        .item-card__image{
            height: 110px;
            min-height: 110px;
            max-height: 110px;
        }
        .item-card-footer{
            flex-direction: column;
        }
        .btn-primary{
            padding: .3rem .6rem;
            width:100%;
        }
        .img-placeholder{
            height: 110px;
            min-height: 110px;
            max-height: 110px;
            .icon{
                font-size: 6rem;
            }
        }
        .item-card-btn{
            padding: .3rem .6rem !important;
            width: 100%;
            color:var(--primary);
            background-color:transparent !important;
            border:1px solid var(--primary) !important;
        }
        h5{
            font-size: .9rem;
        }
    }
    
    .items-wraper.col4{
        grid-template-columns: repeat(2, 1fr);
        .item-card__image{
            height: 110px;
            min-height: 110px;
            max-height: 110px;
        }
    }

    .product-container{
        padding: 0;
    }
    .product-content{
        .product-detal-container{
            margin: .5rem;
            display: block !important;
            background-color: transparent;
            .product-detal-image{
                height:250px;
                min-height:250px;
                max-height:250px;
                width:100%;
            }
            .product-detal-text{
                padding:1rem;
                width:100%;
            }
        }
        .product-related-items{
            padding: .5rem;
            margin-top: .5rem;
            background-color: var(--gray);
        }
    }
}