
.appbar-wraper{
    width: 100%;
    color:var(--white);
    background-color: var(--primary);
    background-size: cover;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    .nav-link, .nav-icon, .nav-button, .navbar-avatar{
        text-decoration: none;
        color:var(--white);
        cursor: pointer;
    }
    .nav-link:hover, .nav-link:focus{
        color:var(--white);
    }
    .navbar-avatar{
        margin-left: .8rem;
        &__image{
            margin-right: .5rem;
            width:37px;
            height:37px;
        }
    }
    .nav-button{
        padding: .4rem 1rem;
        margin-right: .5rem;
        background-color:var(--secondary);
    }
    .nav-icon{
        font-size: 1.5rem;
    }
    .dropdown-toggle.nav-link{
        padding: .4rem .8rem;
        border:1px solid var(--white);
    }
}

.appbar-wraper-top{
    padding: 1.7rem 3%;
    .logo-container{
        flex:1;
        img{
            width: 7rem;
            height: 4rem;
        }
    }
    .navbar-actions-container{
        flex:1;
    }
    .subcribe-container{
        flex:1;
        background-color: var(--white);
        button{
            background-color: var(--secondary);
        }
    }
    .social-media-container{
        span{
            margin-top: -.5rem;
            margin-left: 1rem;
            font-size:2rem;
        }
    }
}

.app-wraper-navigation{
    padding: .7rem 3%;
    border-top:2px solid rgb(175, 170, 250);
    border-bottom:2px solid rgb(175, 170, 250);
    background-image:var(--gradient);
    background-image: linear-gradient(180deg, rgb(142, 136, 218), var(--primary) 50%, rgb(142, 136, 218));

}

.lg-auth-buttons{
    display:none;
}

.sm-auth-buttons{
    display:flex;
}
@media screen and (max-width: 750px){

    .lg-auth-buttons{
        display:flex;
        align-items: center;
    }
    .sm-auth-buttons{
        display:none;
    }
    .appbar-wraper{
        position: fixed;
        background-color: var(--gray);
        .nav-link{
            color:var(--white);
        }
        .nav-button{
            padding: .3rem .6rem;
            margin: 0;
            background-color:var(--primary);
        }
        .nav-icon{
            margin-left: .8rem;
            font-size: 1.5rem;
            color: var(--primary);
        }
    }

    .appbar-wraper-top{
        padding: 0 .5rem;
        height: 4rem;
        .logo-container{
            flex: unset;
            img{
                // width: 6rem;
                height: 3.5rem;
            }
        }
    }

    .app-wraper-navigation{
        padding: 0 3%;
    }
}

