.store-nav {
  padding: 0.8rem 4%;
  background-color: var(--white);
  border-bottom: 2px solid #eee;
}
.store-nav .search-bar-container {
  height: 2.5rem;
  width: 30%;
  background-color: var(--gray);
}
.store-nav .dropdown-toggle.nav-link {
  padding: 0 0.6rem !important;
  display: flex;
  align-items: center;
  height: 2.5rem !important;
  border: 2px solid var(--gray);
}

.items-wraper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}
.items-wraper .item-card {
  background-color: var(--white);
}
.items-wraper .item-card__text {
  padding: 0.8rem;
}
.items-wraper .item-card__image {
  height: 190px;
}
.items-wraper .img-placeholder {
  height: 190px;
  background-color: var(--gray);
}
.items-wraper .img-placeholder .icon {
  font-size: 7rem;
  opacity: 0.5;
}

.items-wraper.col4 {
  grid-template-columns: repeat(4, 1fr);
}
.items-wraper.col4 .item-card__image {
  height: 170px;
}

/*******************************************************
start of item details style
*******************************************************/
.item-detail-wraper {
  margin-top: 1rem;
}
.item-detail-wraper .item-detail-sidebar {
  margin-right: 1rem;
  flex-basis: 27%;
  background-color: #eee;
}
.item-detail-wraper .item-detail-content {
  flex: 1;
}
.item-detail-wraper .item-detail-content .text-container {
  flex: 1;
}

.detail-card__image {
  height: 380px;
  min-height: 380px;
  background-color: var(--gray);
  flex: 1;
}
.detail-card__text {
  padding: 1rem;
  flex-basis: 40%;
  font-size: 1.05rem;
}
.detail-card__text table tr td {
  padding: 0.4rem 0.5rem 0 0;
}

@media screen and (max-width: 750px) {
  .items-wraper {
    grid-gap: 0.7rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .items-wraper .item-card__text {
    padding: 0.5rem;
  }
  .items-wraper .item-card h5 {
    font-size: 1rem;
  }
  .items-wraper .item-card__image {
    height: 150px;
  }
  .items-wraper.col4 {
    grid-template-columns: repeat(2, 1fr);
  }
  .items-wraper.col4 .item-card__image {
    height: 150px;
  }
  /*******************************************************
  start of item details style
  *******************************************************/
  .item-detail-wraper {
    margin: 0.5rem 0 0 0;
  }
  .item-detail-wraper .item-detail-sidebar {
    display: none !important;
  }
  .item-detail-wraper .item-detail-content .text-container {
    flex: 1;
  }
  .detail-card {
    padding: 0;
    flex-direction: column;
  }
  .detail-card__image {
    height: 250px;
    min-height: 250px;
  }
  .detail-card__text {
    padding: 0.7rem;
    font-size: 1rem;
  }
  .store-nav {
    padding: 0.6rem;
    width: 100%;
    background-color: var(--white);
    border: none;
  }
  .store-nav .search-bar-container {
    height: 2.5rem;
    flex: 1;
    background-color: var(--gray);
  }
  .store-nav .sm-hide {
    display: none;
  }
  .store-nav .arrow {
    font-size: 0.7rem;
  }
  .store-nav .category-dropdown-wraper {
    padding-right: 0.6rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .store-nav .dropdown-toggle.nav-link, .store-nav a {
    padding: 0 0.6rem !important;
    display: flex;
    align-items: center;
    height: 2.5rem !important;
    background-color: var(--gray);
  }
}/*# sourceMappingURL=store.css.map */