

.form-oter-container{
    padding: 2rem 0;
    button{
        padding: .6rem .7rem;
        border: none;
        width:100%;
        background-color: var(--primary);
    }
}

.upload-form-wraper{
    width:75%;
    margin:0 auto;
    background-color: var(--gray);
    .upload-form, .upload-text{
        padding: 2rem;
        flex:1;
    }
    .upload-text{
        background-image: url('../../../assets/images/bck-1.jpg');
        background-size: 100% 100%;
    }
}

.form-loader{
    height:100vh;
    width:100%;
    background-color: #0005;
    position: fixed;
    top:0;
    left:0;
}

/**************************************************************
    ****** START OF INPUT CONTAINER STYLE *******
**************************************************************/
.input-container{
    margin-bottom: 1.5rem;
    input, select, textarea{
        padding: .5rem;
        height: 3.3rem;
        width:100%;
        border:1px solid #ccc;
        outline: none;
        background-color: var(--white);
    }
    textarea{
        height:6rem;
        resize: none;
    }

}
input[type="file"]{
    display: none;
}
.file-button{
    background-color: var(--primary) !important;
    color: var(--white);
}
.image-icon{
    margin-right: .5rem;
    font-size:1.9rem;
}


@media screen and (max-width:750px){

    .form-oter-container{
        padding: 0;
    }

    .upload-form-wraper{
        width:100%;
        background-color: var(--gray);
        .upload-form, .upload-text{
            padding: 1rem;
        }
        .upload-text{
            display: none;
        }
    }

    /**************************************************************
        ****** START OF INPUT CONTAINER STYLE *******
    **************************************************************/
    .input-container{
        margin-bottom: .7rem;
        input, select, textarea{
            height: 2.8rem;
        }
        textarea{
            height:4rem;
        }

        .image-icon{
            margin-right: .5rem;
            font-size:1.3rem;
        }
    }
}