.form-oter-container {
  padding: 2rem 0;
}
.form-oter-container button {
  padding: 0.6rem 0.7rem;
  border: none;
  width: 100%;
  background-color: var(--primary);
}

.upload-form-wraper {
  width: 80%;
  margin: 0 auto;
  background-color: var(--gray);
}
.upload-form-wraper .upload-form, .upload-form-wraper .upload-text {
  padding: 2rem;
  flex: 1;
}
.upload-form-wraper .upload-text {
  background-image: url("../../../assets/images/bck-1.jpg");
  background-size: 100% 100%;
}

.form-loader {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3333333333);
  position: fixed;
  top: 0;
  left: 0;
}

/**************************************************************
    ****** START OF INPUT CONTAINER STYLE *******
**************************************************************/
.input-container {
  margin-bottom: 1.5rem;
}
.input-container input, .input-container select, .input-container textarea {
  padding: 0.5rem;
  height: 3.3rem;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  background-color: var(--white);
}
.input-container textarea {
  height: 6rem;
  resize: none;
}

input[type=file] {
  display: none;
}

.file-button {
  background-color: var(--primary) !important;
  color: var(--white);
}

.image-icon {
  margin-right: 0.5rem;
  font-size: 1.9rem;
}

@media screen and (max-width: 750px) {
  .form-oter-container {
    padding: 0;
  }
  .upload-form-wraper {
    width: 100%;
    background-color: var(--gray);
  }
  .upload-form-wraper .upload-form, .upload-form-wraper .upload-text {
    padding: 1rem;
  }
  .upload-form-wraper .upload-text {
    display: none;
  }
  .input-container {
    margin-bottom: 0.7rem;
  }
  .input-container input, .input-container select, .input-container textarea {
    height: 2.8rem;
  }
  .input-container textarea {
    height: 4rem;
  }
  .input-container .image-icon {
    margin-right: 0.5rem;
    font-size: 1.3rem;
  }
}
/*

@keyframes animateElem {
    0%{
        opacity: .5;
        left: 98%;
    }
    100%{
        opacity: 1;
        left: 100%;
    }
}

.upload-form-sidebar{
    flex-basis: 26%;
    .header{
        padding: 1rem;
    }

    ul{
        margin:0;
        padding:0 !important;
        list-style: none;
        li{
            padding: .8rem;
            position: relative;
            border:1px solid var(--gray);
            &:hover{
                background-color: var(--gray);
                ul{
                    display: block;
                }
                .icon{
                    transform: rotate(90deg);
                }
            }
        }
        ul{
            padding: 1rem 1.5rem;
            width: max-content;
            display: none;
            background-color: rgb(243, 243, 243);
            transform: left;
            animation: animateElem .3s ease-in-out;
            position: absolute;
            top:0;
            left:100%;
            li{
                &:hover{
                    background-color: var(--white);
                }
            }
        }
    }
}

.upload-form-content{
    padding: 1rem;
    flex:1;
}

*//*# sourceMappingURL=forms.css.map */